section.about 
  .container 
    ul.list-reset.about__list.flex-container 
      li.about__item
        .about__count 24
        .about__info 
          span.about__object Года
          span.about__descr В IoT бизнесе
      li.about__item
        .about__count 132+
        .about__info 
          span.about__object Страны 
          span.about__descr Ипользуют наши продукты
      li.about__item
        .about__count 33
        .about__info 
          span.about__object Продуктов
          span.about__descr И более 200 бизнес-кейсов
      li.about__item
        .about__count 500+
        .about__info 
          span.about__object Сертификатов
          span.about__descr Для глобального использования продукта