section.about 
  .container 
    h2.title Teltonika Networks -
    p.about__descr быстрорастущая технологическая компания, производящая профессиональное сетевое оборудование для международных рынков.
    ul.list-reset.about__list 
      li.about__item
        h3.title.about__subtitle.about__subtitle_mission Mission
        p.about__descr Our exceptional skills in being a fast and flexible partner reflect our needs to be closer to our clients in every world region. Long-standing experience, reliable supply chain, highest technology process models stand for our ability to produce millions of IoT devices to our clients.
      li.about__item
        h3.title.about__subtitle.about__subtitle_vision Vision
        p.about__descr Our exceptional skills in being a fast and flexible partner reflect our needs to be closer to our clients in every world region. Long-standing experience, reliable supply chain, highest technology process models stand for our ability to produce millions of IoT devices to our clients.
      li.about__item
        h3.title.about__subtitle.about__subtitle_values Values
        p.about__descr Our exceptional skills in being a fast and flexible partner reflect our needs to be closer to our clients in every world region. Long-standing experience, reliable supply chain, highest technology process models stand for our ability to produce millions of IoT devices to our clients.