section.advantages 
  .container 
    h2.title Преимущества
    ul.list-reset.advantages__list.flex-container 
      li.advantages__item
        h3.advantages__subtitle Надёжность
        p.advantages__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      li.advantages__item
        h3.advantages__subtitle Безопасность
        p.advantages__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      li.advantages__item
        h3.advantages__subtitle Простота
        p.advantages__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    +img("svg/map.svg", "")