include @cmps/Decor/decor

section.hero
  +hero-decor 
  .container
    .flex-container
      .hero__content
        h1.hero__title Готовое решение из сердца Европы
        p.hero__descr От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.
        a.btn.hero__btn(href="#") Узнать подробнее
      .hero__img
        +img("hero-img.png", "")
  .hero__about
    .container
      ul.list-reset.hero__list.flex-container
        li.hero-item
          .hero-item__counter(data-max="24") 0
          .hero-item__info
            span.hero-item__object Года
            span.hero-item__descr В IoT бизнесе
        li.hero-item
          .hero-item__counter.hero-item__counter_plus(data-max="132") 0
          .hero-item__info
            span.hero-item__object Страны
            span.hero-item__descr Ипользуют наши продукты
        li.hero-item
          .hero-item__counter 33
          .hero-item__info
            span.hero-item__object Продуктов
            span.hero-item__descr И более 200 бизнес-кейсов
        li.hero-item
          .hero-item__counter.hero-item__counter_plus 500
          .hero-item__info
            span.hero-item__object Сертификатов
            span.hero-item__descr Для глобального использования продукта