section.products 
  .container 
    h2.title Продукты
    ul.list-reset.products-nav 
      li.products-nav__item
        button.btn-reset.products-nav__btn.products-nav__btn_current Модемы
      li.products-nav__item
        button.btn-reset.products-nav__btn Сетевые шлюзы
    p.products__descr От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.
    ul.list-reset.products__list 
      li.products__item.products__item_current 
        .products__content 
          h3.products__subtitle Модемы
          p.products__item-descr От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.
          a.products__btn(href="#") Узнать подробнее
      li.products__item 
        .products__content 
          h3.products__subtitle Сетевые шлюзы
          p.products__item-descr От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.
          a.products__btn(href="#") Узнать подробнее
      li.products__item 
        .products__content 
          h3.products__subtitle Маршрутизаторы
          p.products__item-descr От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.
          a.products__btn(href="#") Узнать подробнее
    
    
