include @cmps/Product/product

section.products 
  .container 
    h2.title Продукты
    ul.list-reset.products__list 
      li.products__item.products__item_current 
        button.btn-reset.products__btn Модемы
      li.products__item 
        button.btn-reset.products__btn Сетевые шлюзы
    p.products__descr От концепции до готового продукта - мы разрабатываем все самостоятельно,<br>чтобы обеспечить максимальное качество и эффективность.
    .products__cards 
      +product-card("Модемы", "От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.")
      +product-card("Сетевые шлюзы", "От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.")
      +product-card("Маршрутизаторы", "От концепции до готового продукта - мы разрабатываем все самостоятельно, чтобы обеспечить максимальное качество и эффективность.")
    
