section.uniq 
  .container.flex-container 
    .uniq__content 
      h2.title Уникальный продукт
      h3.uniq__subtitle Все проекты IoT & M2M уникальны! 
      p.uniq__descr Мы осознаём это и внедрили многочисленные изменения аппаратного и микропрограммного обеспечения для производства настраиваемых маршрутизаторов, шлюзов и модемов.
      p.uniq__descr Если вы не можете найти то, что ищете в нашем портфолио, свяжитесь с нами, и мы сможем обсудить полностью индивидуальный продукт, который удовлетворит все ваши потребности.
      p.uniq__descr Мы полностью контролируем процесс от концептуализации до производства, предлагая непревзойдённую гибкость для крупномасштабных проектов.
    .stages 
      .stages__item.stages__item_1 
        .stages__icon 
          +img("stage1.svg")(data-aos="zoom-in")
      .stages__item.stages__item_2 
        .stages__icon 
          +img("stage2.svg")(data-aos="zoom-in")
      .stages__item.stages__item_3 
        .stages__icon 
          +img("stage3.svg")(data-aos="zoom-in")
      .stages__item.stages__item_4 
        .stages__icon 
          +img("stage4.svg")(data-aos="zoom-in")
      .stages__item.stages__item_5 
        .stages__icon 
          +img("stage5.svg")(data-aos="zoom-in")
      .stages__item.stages__item_6 
        .stages__icon 
          +img("stage6.svg")(data-aos="zoom-in")
