section.uniq 
  .container.flex-container 
    .uniq__content 
      h2.title Уникальный продукт
      h3.uniq__subtitle Все проекты IoT & M2M уникальны! 
      p.uniq__descr Мы осознаём это и внедрили многочисленные изменения аппаратного и микропрограммного обеспечения для производства настраиваемых маршрутизаторов, шлюзов и модемов.
      p.uniq__descr Если вы не можете найти то, что ищете в нашем портфолио, свяжитесь с нами, и мы сможем обсудить полностью индивидуальный продукт, который удовлетворит все ваши потребности.
      p.uniq__descr Мы полностью контролируем процесс от концептуализации до производства, предлагая непревзойдённую гибкость для крупномасштабных проектов.
    +img('svg/stages.svg')