:root {
  // colors

  --primary: #04284a;
  --secondary: #00c3d9;
  --gradient-dark: linear-gradient(92.18deg, #04284a -0.25%, #00c3d9 188.98%), #f0f9ff;
  --gradient-light: linear-gradient(119.82deg, #33b7bc -1.79%, #036280 119.59%);
  --blu: #c2d6dc;
  --helper-blu: #19528d;
  --dark: #333;
  --white: #fff;
  --black: #292d33;

  // values

  --content-width: #{em(1260px)};
  --container-offset: #{em(15px)};

  // fonts

  --font-family: "Raleway", sans-serif;
}
