nav.nav 
  ul.list-reset.nav__list 
    li.nav__item
      a.nav__link(href="#") Главная
    li.nav__item
      a.nav__link(href="#") Продукт
    li.nav__item
      a.nav__link(href="#") Преимущества
    li.nav__item
      a.nav__link(href="#") О нас
    li.nav__item
      a.btn.nav__btn(href="#") Узнать подробнее