.product-card {
  border: 1px solid var(--white);
  border-radius: 9px;
  padding: rem(40px);
  background-color: rgba(255 255 255 / 12%);

  &__title {
    margin: 0;
    margin-bottom: em(10px, 34px);
    font-weight: 600;
    font-size: rem(34px);
    line-height: 140%;
    text-transform: uppercase;
    color: var(--white);
  }

  &__descr {
    display: none;
    margin: 0;
    font-size: 20px;
    line-height: 140%;
    color: var(--blu);
  }

  &__btn {
    display: block;
    border: 1px solid currentcolor;
    border-radius: 70px;
    padding: rem(17px) rem(10px);
    max-width: rem(215px);
    font-weight: 600;
    font-size: rem(16px);
    line-height: 120%;
    text-align: center;
    color: var(--white);
  }
}