.btn {
  border-radius: 40px;
  padding: rem(10px);
  font-weight: 600;
  font-size: rem(18px);
  line-height: 120%;
  text-align: center;
  color: var(--white);
  background-image: var(--gradient-light);
  background-size: 200% 100%;
  transition: background-position 0.25s ease-in-out;

  @include hover {
    background-position: 50% 0;
  }
}