footer.footer 
  .container.flex-container 
    .footer__col 
      a.footer__logo(href="index.html") 
      p.footer__descr is a general contractor company based in Jakarta. More than 25 years of experience in building and carving out Indonesia's development.
      ul.list-reset.socials 
        li.socials__item
          a.socials__link.socials__link_fb(href="#") 
        li.socials__item
          a.socials__link.socials__link_twitter(href="#") 
        li.socials__item
          a.socials__link.socials__link_in(href="#") 
        li.socials__item
          a.socials__link.socials__link_yt(href="#") 
        li.socials__item
          a.socials__link.socials__link_inst(href="#") 
        li.socials__item
          a.socials__link.socials__link_vk(href="#") 
    .footer__col 
      h3.footer__subtitle Компания
      ul.list-reset.footer__list 
        li.footer__list-item
          a.footer__link(href="#") О нас
        li.footer__list-item
          a.footer__link(href="#") Продукты
        li.footer__list-item
          a.footer__link(href="#") Преимущества
    .footer__col 
      h3.footer__subtitle More
      ul.list-reset.footer__list 
        li.footer__list-item
          a.footer__link(href="#") Documentation
        li.footer__list-item
          a.footer__link(href="#") License


        