.reletive {
  position: relative;
}

.overflow-visible {
  overflow: visible;
}

.marker {
  text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  }

  @include hover {
    text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.z-50 {
  z-index: 50;
}

.cursor-pointer {
  cursor: pointer;
}

.drop-shadow-like-border {
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 40%));
}

.grayscale {
  filter: grayscale(100%);
}